/* GENERAL */

body{
    font-family:'Segoe UI', Arial, sans-serif;
    background:#f8fafc;
    color:#1e293b;
    scroll-behavior:smooth;
}


/* NAVBAR */

.navbar{

    height:75px;
    background:linear-gradient(90deg,#0f172a,#4f46e5);
    padding:15px;

}


.navbar-brand{

    font-size:22px;
    color:white !important;

}


.navbar-nav{

    align-items:center;
    gap:15px;

}


.nav-link{

    color:white !important;
    font-weight:500;
    transition:.3s;

}


.nav-link:hover{

    color:#c4b5fd !important;

}





/* HERO */

.hero{

    min-height:100vh;
    display:flex;
    align-items:center;
    padding-top:100px;

}



.hero h1{

    font-size:55px;
    font-weight:800;
    color:#4f46e5;

}


.hero h3{

    color:#0f172a;

}


.hero p{

    font-size:18px;
    line-height:1.8;

}





/* PHOTO */

.profile{

    width:280px;
    height:280px;
    object-fit:cover;
    border-radius:50%;
    border:8px solid white;
    box-shadow:0 15px 40px rgba(0,0,0,0.25);

}




/* SECTIONS */

section{

    padding:80px 0;

}


h2{

    text-align:center;
    color:#4f46e5;
    margin-bottom:40px;
    font-weight:700;

}





/* CARTES */

.card{

    border:none;
    border-radius:20px;
    padding:25px;
    height:100%;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition:.3s;

}


.card:hover{

    transform:translateY(-10px);

}




/* BOUTON */

.btn-primary{

    background:#4f46e5;
    border:none;
    padding:12px 25px;
    border-radius:30px;

}





/* FOOTER */

footer{

    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;

}





/* MOBILE */

@media(max-width:768px){


.hero{

    text-align:center;

}


.hero h1{

    font-size:38px;

}


.profile{

    width:220px;
    height:220px;

}


.navbar{

    height:auto;

}


.navbar-nav{

    text-align:center;

}


}

/* ALIGNEMENT MENU DESKTOP */

@media (min-width:769px){

    .navbar-collapse{
        display:flex !important;
        justify-content:flex-end;
    }


    .navbar-nav{
        flex-direction:row !important;
    }

}


#projets img{

height:220px;
width:100%;
object-fit:cover;
transition:0.4s;

}

#projets img:hover{

transform:scale(1.05);

}

.btn{
border-radius:30px;
padding:12px 24px;
font-weight:600;
}

.btn-success{
background:#16a34a;
border:none;
}

.btn-outline-primary{
border-width:2px;
}

#stats h3{
    font-size:45px;
    font-weight:700;
    color:#4f46e5;
}

#stats .card{
    text-align:center;
}

